body {
    font-family: Arial, sans-serif;
    background: #5eaae7;
    margin: 0;
    padding-top: 60px;
    text-align: center;
}

h1,h2 {
    text-align: center;
    color: #fdf6ff;
    
}
.header,.footer{
    background-color: #004999;
    color: azure;
    padding: 40px;
    margin-bottom: 5px;
}

a.btn, .btn {
    display: inline-block;
    background-color: #0066cc;
    color: rgb(235, 227, 227);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn:hover{
    background-color: #004999;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.event-card {
    background-color: rgb(244, 247, 250);
    padding: 20px;
    border: 1px solid #ddd;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.event-detail {
    max-width: 600px;
    margin: auto;
    background-color: rgb(223, 221, 230);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(50, 63, 175, 0.1);
}

.event-form {
    max-width: 500px;
    margin: auto;
    background: rgb(233, 234, 243);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(63, 92, 170, 0.1);
}

.event-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.event-form input, .event-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-detail {
    background-color: #28a745;
    color: white;
    padding: 7px 12px;
    border-radius: 5px;
    text-decoration: none;
}
.btn-group{
    margin-top: 30px;
}
body{
    background-image: url('/image/event.jpg');
}
