<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>

    <!-- Custom CSS -->
  
    <link rel="stylesheet" href="/static/event.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="header">
    <header>
      <h1>College Event Calendar System </h1>
      </header>
      </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"><br><br>
        <nav> 
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../templates/demo.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../templates/event.html">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../templates/eventdt.html">Event Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../templates/addevnt.html">Admin</a>
        </li>
      </nav>
      </ul>
  </div>
</body>
<footer>
    <h2>2025 college event</h2>
  </footer>
</html>